                <div class="container">
                <div class="row">
                    
                     <% page.posts.each(function(item){ %>
                        <%- partial('_partial/article-excerpt', {item: item}) %>
                    <% }); %>
                </div>
            <div class="col-12 row">
              
                       <%- partial('_partial/pagination') %>
            </div>
              </div>
               
             
           
