
                
                     <% page.posts.each(function(item){ %>
                        <%- partial('_partial/article-excerpt', {item: item}) %>
                    <% }); %>
            
              
                <div class="col-12 row">
                    <div class="col-sm-10 offset-sm-1" >
                           <%- partial('_partial/pagination') %>
                    </div>
                </div>
             
           
