---
type: categories
---
<div class="col-sm-8 offset-sm-2">
<p class="tagTitle">当前共有<%- site.categories.length%>个分类</p>
<hr>
		<!-- <%- JSON.stringify(site.categories)%> -->
<%- list_categories({
	depth:0,
	}) %>

</div>
