
<div class="col-sm-6 offset-sm-3" id="tagTitle">Current Tag:<i class="fa fa-hashtag" aria-hidden="true"></i>&nbsp;<%-page.tag%></div>

<%
	var tagPost=[];
	var posts=site.posts;
	posts.each(function(post){
		post.tags.each(function(tag){
			if(tag.name==page.tag){
				tagPost.push(post);
				
			}
		})
	})

%>
 <% if(tagPost&&tagPost.length){ %> 
<% page.posts.each(function(item){ %>
    <%- partial('_partial/article-excerpt', {item: item}) %>
<% }); }%>
