<% if (item.categories && item.categories.length){ %>
<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a href="' + config.root + category.path + '">' + category.name + '</a>');
    });
%>
    <span><i class="fa fa-book" aria-hidden="true"></i></span>
    <%- categories.join(' ') %>&nbsp;&nbsp;&nbsp;
<% } %>