<footer class="blog-footer container" style="text-align: center;">
 	<hr>
    <p> Power by <a href="https://hexo.io/">Hexo</a> 
    <a href="https://v4-alpha.getbootstrap.com/">Bootstrap</a> 
    <a href="https://greensock.com/gsap">GSAP</a>
    </p>
    <p>Designed by <a href="<%= url_for(theme.menu.home) %>">TracerZzz</a>.</p>
    <p><a href="#">Back to top</a></p>
</footer>