<footer class="blog-footer " style="text-align: center;">
 	<hr>
    <p> Power by <a href="https://hexo.io/">Hexo</a> 
    <a href="https://v4-alpha.getbootstrap.com/">Bootstrap</a> 
    <a href="https://greensock.com/gsap">GSAP</a> <a href="https://pages.github.com/">GitHub Pages</a>
    </p>
    <p>Designed by <a href="<%= url_for(theme.menu.home) %>">TracerZzz</a></p>
    <p>Copyright &copy; 2017</p>
</footer>