

  

  <div class="col-sm-8 offset-sm-1 hidden-md-down" id="widemenu" style="align-content: center;">
    <ul class="">
    
	 <% for (var i in theme.menu){ %>
    <li class="menulist" style="text-align: left;">
      <a class="menuline" href="<%- url_for(theme.menu[i]) %>"><%=i%> <span class=""></span></a>
    </li>


	<% } %>	


    </ul>

  </div>
