

  <div class="col-sm-10 offset-sm-1 hidden-md-down" id="widemenu">
    <ul class="">

	<% for (var i in theme.menu){ %>
    
    <li class="menulist">
      <a class="" href="<%- url_for(theme.menu[i]) %>"><%=i%> <span class=""></span></a>
    </li>
    <% if(i!=theme.menu.length-1){ %>
    <li>&bull;</li>

    <% }%>
	<% } %>	


    </ul>

  </div>
