

  <% if (page.total > 1){ %>
  <nav id="page-nav" class="col-12">
    <%- paginator({
      prev_next: true,
      prev_text: 'Prev Page',
      next_text: 'Next Page',
      mid_size: 0,
      end_size: 0,
      space: ""
    }) %>
  </nav>
<% } %>