{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "plugins": [
  ],
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "__COMPONENT_DEVTOOLS__": false,
    "__WHY_DID_YOU_UPDATE__": false
  },
  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "destructuring": true,
    "classes": true,
    "defaultParams": true,
    "blockBindings": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "forOf": true,
    "generators": true,
    "templateStrings": true,
    "superInFunctions": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
  }
}
